PORT=3003
API_BASE_URL=http://localhost:3003

#https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET_KEY=
#https://dashboard.stripe.com/test/webhooks/we_1PoK5ZLrJ3U4HzkWJ7gZQ8yh
STRIPE_ENDPOINT_SECRET=